<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners Lee</title>
</head>
<body>
    <header>
        <figure><img src="/DH-Heroes/public/img/¡Mira mi nuevo diseño hecho en Canva!.png" alt=""></figure><h1>Pioneros de la computación</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/DH-Heroes/views/index.html">Home</a></li>
            <li><a href="/DH-Heroes/views/babbage.html">Babbage</a></li>
            <li><a href="/DH-Heroes/views/berners-lee.html">Berners Lee</a></li>
            <li><a href="/DH-Heroes/views/clarke.html">Clarke</a></li>
            <li><a href="/DH-Heroes/views/hamilton.html">Hamilton</a></li>
            <li><a href="/DH-Heroes/views/hopper.html">Hopper</a></li>
            <li><a href="/DH-Heroes/views/lovelace.html">Lovelace</a></li>
            <li><a href="/DH-Heroes/views/turing.html">Turing</a></li>   
        </ul>
    </nav>
    <h1>Berners Lee</h1>
    <figure><img src="/DH-Heroes/public/img/berners lee.jpg" alt=""></figure>
    <p>es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>
    <p>Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
</body>
</html>