<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <header>
        <figure><img src="/DH-Heroes/public/img/¡Mira mi nuevo diseño hecho en Canva!.png" alt=""></figure><h1>Pioneros de la computación</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/DH-Heroes/views/index.html">Home</a></li>
            <li><a href="/DH-Heroes/views/babbage.html">Babbage</a></li>
            <li><a href="/DH-Heroes/views/berners-lee.html">Berners Lee</a></li>
            <li><a href="/DH-Heroes/views/clarke.html">Clarke</a></li>
            <li><a href="/DH-Heroes/views/hamilton.html">Hamilton</a></li>
            <li><a href="/DH-Heroes/views/hopper.html">Hopper</a></li>
            <li><a href="/DH-Heroes/views/lovelace.html">Lovelace</a></li>
            <li><a href="/DH-Heroes/views/turing.html">Turing</a></li>   
        </ul>
    </nav>
    <h1>Hamilton</h1>
    <figure><img src="/DH-Heroes/public/img/margaret-hamilton.jpeg" alt=""></figure>
    <p>es una científica computacional, matemática e ingeniera de Software.</p>
    <p>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5​ Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.</p>
    <p>Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).</p>
</body>
</html>